# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run/config
run/logs
run/mods
run/saves

# Files from Forge MDK
forge*changelog.txt

run/options.txt

run/usercache.json

run/usernamecache.json

run/crash-reports/
